:root {
    --color-primary: rgb(149, 53, 53);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-branding {
    display: flex;
    justify-content: left;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    height: 100px;
    width: 100%;
    background-color: black;
}

/* =========== navigation start ============= */
nav {
    height: 100px;
    width: 100%;
    background-color: black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
}

nav a:hover {
    color:red
}

/* =========== navigation end ============= */

main {
    background-color: rgb(55, 54, 54);
    padding-bottom: 10px;
    padding-top: 10px;
}

h1 {
    padding: 50px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    color: whitesmoke;
}

#biotext {
    padding: 20px;
    padding-left: 750px;
    padding-right: 100px;
    line-height: 1.5;
    text-align: left;
    text-indent: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: whitesmoke;
}

p {
    padding: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: whitesmoke;
}

#greeting {
    padding: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: whitesmoke;
}

footer {
    padding: 25px;
    background-color: black;
}

#footertext {
    font-size: 20px;
}