:root {
    --color-primary-1: #1A1A1A;
    --color-primary-2: #EAEAEA;
    --color-secondary-1: #423A3A;
    --color-secondary-2: #696969;
    --color-accent: #7C2222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========== headers start ============= */

.homeheader {
    background-image: linear-gradient(to bottom, var(--color-accent), var(--color-secondary-1));
    height: 200px;
    margin-top: 10px;
}

.portfoliobanner {
    background-image: linear-gradient(to bottom, var(--color-accent), var(--color-secondary-1));
    height: 200px;
    margin-top: 10px;
}

.biobanner {
    background-image: linear-gradient(to bottom, var(--color-accent), var(--color-secondary-1));
    height: 200px;
    margin-top: 10px;
}

.contactbanner {
    background-image: linear-gradient(to bottom, var(--color-accent), var(--color-secondary-1));
    height: 200px;
    margin-top: 10px;
}

.centered-header {
    text-align: center;
    padding: 50px;
}

@media (max-width: 920px) {
    .centered-header {
        font-size: 45px;
    }
}

@media (max-width: 740px) {
    .centered-header {
        font-size: 40px;
    }
}

/* =========== headers end ============= */

/* =========== navigation start ============= */

.site-branding {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--color-primary-2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding: 10px;
    font-size: 30px;
    height: 25px;
    width: 100%;
    background-color: var(--color-primary-1);
}

nav {
    height: 50px;
    width: 100%;
    background-color: var(--color-primary-1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

nav a {
    color: var(--color-primary-2);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
    margin-right: 50px;
}

nav a:hover {
    color: var(--color-secondary-2);
    transition: 5ms;
}

nav a:active {
    color: var(--color-accent);
    transition: 5ms;
}

@media (max-width: 920px) {
    nav a {
        font-size: 25px;
    }
}

@media (max-width: 740px) {
    nav a {
        font-size: 20px;
        margin-right: 25px;
    }
}

/* =========== navigation end ============= */

/* =========== links start ============= */

ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    line-height: 50px;
}

.button1 {
    background-color: var(--color-primary-1);
    border: none;
    color: var(--color-primary-2);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    color: var(--color-primary-1);
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
    width: 33%
}

.button2 {
    background-color: var(--color-primary-1);
    border: none;
    color: var(--color-primary-2);
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    color: var(--color-primary-1);
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 33%;
}

.button3 {
    background-color: var(--color-primary-1);
    border: none;
    color: var(--color-primary-2);
    padding: 15px 65px;
    text-align: center;
    text-decoration: none;
    color: var(--color-primary-1);
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 33%;
}

@media (max-width: 920px) {
    .button1 {
        padding: 10px 30px;
    }
    .button2 {
        padding: 10px 30px;
    }
    .button3 {
        padding: 10px 30px;
    }
    ul li {
        font-size: 20px;
    }
}

@media (max-width: 740px) {
    .button1 {
        padding: 5px 15px;
    }
    .button2 {
        padding: 5px 15px;
    }
    .button3 {
        padding: 5px 15px;
    }
    ul li {
        font-size: 15px;
    }
}

a {
    display: inline-flex;
    color: var(--color-primary-2);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
    transition: 5ms;
}

a:active {
    color: var(--color-secondary-2);
    transition: 5ms;
}

@media (max-width: 920px) {
    .buttons {
        width: 200px;
        height: auto;
    }
}

@media (max-width: 740px) {
    .buttons {
        width: 150px;
        height: auto;
    }
}

/* =========== links end ============= */

/* =========== pictures start ============= */

div.image {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

div.biotext {
    font-size: 30px;
    padding: 25px 75px;
    margin-bottom: 75px;
}

.artist {
    width: 450px;
    height: auto;
    border: 10px solid var(--color-accent);
    border-radius: 550px;
}


div.inkexamples {
    background-image: url(assets/images/inkbanner.PNG);
    background-size: cover;
    background-position: center;
    height: 550px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ink {
    width: 1710px;
    height: auto;
    margin-top: 50px;
    opacity: 0%;
}

/* =========== pictures end ============= */

/* =========== body start ============= */

main {
    background-color: var(--color-secondary-1);
    padding-top: 50px;
    padding-bottom: 10px;
    height: fit-content;
}

h1 {
    padding: 50px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75px;
    text-shadow: 10px 5px 5px var(--color-primary-1);
    text-transform: uppercase;
    color: var(--color-primary-2);
}

h3{
    padding: 50px;
    margin-bottom: 75px;
    text-align: center;
    color: var(--color-primary-2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

p {
    padding: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: var(--color-primary-2);
}

/* =========== body end ============= */

/* =========== portfolio start ============= */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.galleryimage {
    margin: 50px;
    width: 450px;
    height: 450px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50px;
}

.galleryimage:hover {
    opacity: 50%;
    transition: 5ms;
}

@media (max-width: 740px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.lightbox {
    position: fixed;
    inset: 0;
    background: var(--color-primary-1);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

.lightbox:target {
    display: flex;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: var(--color-primary-2);
    text-decoration: none;
}

/* =========== portfolio end ============= */

/* =========== ghost thing start ============= */

div.ghosticondiv {
    display: flex;
    justify-content: center;
}

.ghosticon {
    align-items: center;
    width: 150px;
    height: auto;
}

/* =========== ghost thing end ============= */

/* =========== greeting start ============= */

#greeting {
    padding: 25px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color: var(--color-primary-2);
}

/* =========== greeting end ============= */

/* =========== footer start ============= */

footer {
    padding: 25px;
    margin-top: 10px;
    background-color: var(--color-primary-1);
}

#footertext {
    font-size: 20px;
    color: var(--color-primary-2);
}

/* =========== footer end ============= */