:root {
    --color-primary-1: #1A1A1A;
    --color-primary-2: #EAEAEA;
    --color-secondary-1: #423A3A;
    --color-secondary-2: #696969;
    --color-accent: #7C2222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========== headers start ============= */

.homeheader {
    background-image: url(/assets/images/homebanner.jpg);
    background-size: cover;
    background-position: bottom;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.portfoliobanner {
    background-image: url(/assets/images/portfoliobanner.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.biobanner {
    background-image: url(/assets/images/biobanner.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contactbanner {
    background-image: url(/assets/images/contactbanner.jpg);
    background-size: cover;
    background-position: bottom;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centered-header {
    text-align: center;
    padding: 150px;
}

/* =========== headers end ============= */

/* =========== navigation start ============= */

.site-branding {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--color-primary-2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding: 10px;
    font-size: 25px;
    height: 25px;
    width: 100%;
    background-color: var(--color-primary-1);
}

nav {
    height: 50px;
    width: 100%;
    background-color: var(--color-primary-1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

nav a {
    color: var(--color-primary-2);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
    margin-right: 50px;
}

nav a:hover {
    color: var(--color-secondary-2);
    transition: 5ms;
}

nav a:active {
    color: var(--color-accent);
    transition: 5ms;
}

/* =========== navigation end ============= */

/* =========== links start ============= */

ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    line-height: 50px;
}

.buttoncontainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-width: 5px;
    padding-left: 730px;
    padding-bottom: 50px;
    list-style-type: none;
}

.buttons {
    list-style: none;
    width: 250px;
    height: auto;
    background-color: var(--color-primary-1);
    border-radius: 25px;
    text-align: center;
}

a {
    display: inline-flex;
    color: var(--color-primary-2);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
    transition: 5ms;
}

a:active {
    color: var(--color-secondary-2);
    transition: 5ms;
}

/* =========== links end ============= */

/* =========== pictures start ============= */

div.biopagelayout {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    padding-right: 50px;
    padding-bottom: 100px;

}

.artist {
    width: 500px;
    height: auto;
    border: 10px solid var(--color-accent);
    border-radius: 550px;
    margin-left: 100px;
}

div.inkexamples {
    background-image: url(/assets/images/inkbanner.PNG);
    background-size: cover;
    background-position: center;
    height: 550px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ink {
    width: 1710px;
    height: auto;
    margin-top: 50px;
    opacity: 0%;
}

/* =========== pictures end ============= */

/* =========== body start ============= */

main {
    background-color: var(--color-secondary-1);
    padding-top: 50px;
    padding-bottom: 10px;
    height: fit-content;
}

h1 {
    padding: 50px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75px;
    text-shadow: 10px 5px 5px var(--color-primary-1);
    text-transform: uppercase;
    color: var(--color-primary-2);
}

h3{
    padding: 50px;
    margin-bottom: 75px;
    text-align: center;
    color: var(--color-primary-2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

p {
    padding: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: var(--color-primary-2);
}

/* =========== body end ============= */

/* =========== portfolio start ============= */

.gallery {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    
}

.galleryimage {
    display: inline-table;
    width: 450px;
    height: 450px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50px;
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.galleryimage:hover {
    opacity: 50%;
    transition: 5ms;
}

/* =========== portfolio end ============= */

/* =========== ghost thing start ============= */

div.ghosticondiv {
    display: flex;
    justify-content: center;
}

.ghosticon {
    align-items: center;
    width: 150px;
    height: auto;
}

/* =========== ghost thing end ============= */

/* =========== greeting start ============= */

#greeting {
    padding: 25px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color: var(--color-primary-2);
}

/* =========== greeting end ============= */

/* =========== footer start ============= */

footer {
    padding: 25px;
    margin-top: 10px;
    background-color: var(--color-primary-1);
}

#footertext {
    font-size: 20px;
    color: var(--color-primary-2);
}

/* =========== footer end ============= */