:root {
    --color-primary-1: #1A1A1A;
    --color-primary-2: #EAEAEA;
    --color-secondary-1: #423A3A;
    --color-secondary-2: #696969;
    --color-accent: #7C2222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========== navigation start ============= */

.site-branding {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--color-primary-2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding: 10px;
    font-size: 25px;
    height: 50px;
    width: 100%;
    background-color: var(--color-primary-1);
}

nav {
    height: 100px;
    width: 100%;
    background-color: var(--color-primary-1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

nav a {
    color: var(--color-primary-2);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
    margin-right: 50px;
}

nav a:hover {
    color: var(--color-secondary-2);
    transition: 5ms;
}

nav a:active {
    color: var(--color-accent);
    transition: 5ms;
}

/* =========== navigation end ============= */

.contactlinks {
    padding: 25px;
    padding-bottom: 100px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    color: var(--color-primary-2);
    list-style: none;
}

.artist {
    width: 500px;
    height: auto;
    border-radius: 550px;
    margin-left: 100px;
    vertical-align: text-top;
}

.bannerimage {
    width: 1710px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    background-color: var(--color-secondary-1);
    padding-bottom: 10px;
    padding-top: 10px;
    height: fit-content;
}

h1 {
    padding: 50px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--color-primary-2);
}

h3{
    padding: 50px;
    text-align: center;
    color: var(--color-primary-2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

#biotext {
    padding: 20px;
    padding-left: 750px;
    padding-right: 100px;
    line-height: 1.5;
    text-align: left;
    text-indent: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: var(--color-primary-2);
}

p {
    padding: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: var(--color-primary-2);
}

/* =========== portfolio start ============= */

.galleryimage {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50px;
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    
}

.galleryimage:hover {
    opacity: 50%;
    transition: 5ms;
}

.ghosticon {
    align-items: center;
    width: 150px;
    height: auto;
}

.ink {
    width: 1710px;
    height: auto;
    margin-top: 50px;
}

/* =========== footer start ============= */

#greeting {
    padding: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: var(--color-primary-2);
}

/* =========== footer start ============= */

footer {
    padding: 25px;
    margin-top: 10px;
    background-color: var(--color-primary-1);
}

#footertext {
    font-size: 20px;
    color: var(--color-primary-2);
}

/* =========== footer end ============= */